
<% include partials/header %>


<form method="POST" name="form" action="/todos/add"  onsubmit="return validateForm();">
   
   
   
   <div class="r1">
 <h1> Register Company Form </h1>
 </div>
<div class= "container">
  <div clas="row">
 <div class= "col-md-3 col-md-offset-3 divat">
    <form method="POST" action="/todos/add">
    <input type="text" name="company" class placeholder ="Company Name"<autofocus><br>
	<select id ="municipality" name="municipality" placeholder="Municipality" required>
	<option disabled  selected>Municipality </option>
	<option value ="gjakove" >Gjakove </option>
	<option value ="mitrovice" >Mitrovice </option>
	<option value ="prishtine" >Prishtine </option>
	<option value ="gjilan" >Gjilan</option>
	<option value ="ferizaj" >Ferizaj </option>
	<option value ="prizren" >Prizren</option>
	<option value ="peje" >Peje</option>
 </select>
 
	<input type="password" name="password" placeholder= "Password"><br>
	<input type="text" name="bussines" placeholder="Bussiness Registation Nr">
	<br> <br> <br>
	<input type="submit" value="SUBMIT" >


 </div>

 
 <div class= "col-md-3 col-md-offset-1 divat">

 <input type= "text" name="cadress" placeholder="Company Address">
 <input type ="email" name="email" placeholder="Email">
 <input type="text" name ="web" placeholder = "Webside">
 <textarea name="desc" placeholder="Bussiness Descprition">
      </textarea>
	  </form>
 <br> <br> <br>
  <input type="reset" value="RESET">

 
 </div>

 </div>




</div>








<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


   
   
   
   <center>
   <br>
   <br>
   <br>
   <a href="/view">View Page</a>	
  


<% include partials/footer %>

